
* { margin: 0; padding: 0; }

*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: $root-font-size;
    line-height: $root-line-height;
    font-weight: normal;
    font-family: $root-font-family;
    text-rendering: optimizeLegibility;
    z-index: 0;
    position: relative;
}

::-moz-selection { background-color: transparent; }
::selection { background-color: transparent; }

h1, h2, h3, h4, h5 {
    margin: 0 0 1em 0;
    line-height: 1em;
}

h3 {
    font-size: $root-font-size;
    font-weight: normal;
}

h5 {
    font-size: $root-font-size;
    line-height: 1em;
    font-weight: normal;
    text-transform: uppercase;
}

p {
    margin: 0 0 1em 0;
}

a, a:active, a:visited {
    text-decoration: underline;
    color: #00f;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

article,
section {
    z-index: 0;
}

img {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

fieldset {
    border: none;
}

label {
    margin: 0 0.25em 0 0;
    width: auto;
    display: inline-block;
}

input,
textarea,
button {
    margin: 0;
    padding: 0;
    font-size: $root-font-size;
    line-height: 1em;
    font-weight: normal;
    font-family: $root-font-family;
    outline: none;
}

input {
    @include box-sizing(border-box);
}

input[type=text],
input[type=email] {
    padding: 0.25em;
    border: 1px solid gray;
}

::-webkit-input-placeholder {
    font-size: $root-font-size;
    line-height: 1em;
    font-weight: italic;
    font-family: $root-font-family;
    color: #ccc;
}

:-moz-placeholder {
    font-size: $root-font-size;
    line-height: 1em;
    font-weight: italic;
    font-family: $root-font-family;
    color: #ccc;
}

::-moz-placeholder {
    font-size: $root-font-size;
    line-height: 1em;
    font-weight: italic;
    font-family: $root-font-family;
    color: #ccc;
}

:-ms-input-placeholder {
    font-size: $root-font-size;
    line-height: 1em;
    font-weight: italic;
    font-family: $root-font-family;
    color: #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    
}

th, td {
    padding: 0.5em;
    border: 1px solid gray;
    text-align: left;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
