
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes oscillate-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 1;
  animation: fade-in 0.5s;
}

.fade-out {
  opacity: 0;
  animation: fade-out 0.5s;
}

.vlf-site-select {
  margin: 0.75em;

  select {
    margin: 0 0 0.25em -0.25em;
    cursor: pointer;
  }

  h2 {
    color: #1c1c1c;
  }

  p {
    color: #0c0c0c;
  }

  h2 {
    margin: 0 0 0.25em 0;
  }

  select, h2 {
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
  }

  p {
    margin: 0;
    font-size: 0.75em;
  }

  a {
    color: #3c3c3c;
  }
}

.visualization {
  width: 100%;
  height: 100%;
  background-color: rgba(3, 4, 4, 1);

  canvas {
    width: 100%;
    height: 100%;
  }
}

.modal {
  background-color: #c0c0c0;
  overflow: hidden;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;

  .copy {
    padding: 2em;
    width: 38.19660112501453%;
    background-color: rgba(13, 3, 0, 0.95);
    z-index: 50;
    border-radius: 5px;
    color: white;
    @media (max-width: 1024px) {
      width: 50%;
    }
    @media (max-width: 555px) {
      width: 95%;
    }
    a {
      color: white;
    }
  }
}

.info-modal {
  .copy {
    .play {
      width: 100%;
      background-color: #d05454;
      transition: background-color 0.25s;
      &:hover {
        background-color: #79CCFF;
      }
    }
  }
}

.error-modal {
  background-color: rgba(0, 0, 0, 0.75);

  .copy {
    padding: 0;
    background-color: transparent;
    text-align: center;
    color: #b13737;

    .message {
      animation: oscillate-opacity 2.25s infinite;
    }
  }
}
