
$root-font-size: 14px;
$root-font-family: 'Arial', sans-serif;
$root-line-height: 1.5em;

// vendor overwrites
$spinkit-spinner-margin: $root-font-size auto;
$spinkit-size: $root-font-size;
$spinkit-spinner-color: #333;
