@import '../../less/variables';

.Button {
  background-color: @color-red;
  border: 1px solid @color-smoke;
  color: @color-white;
  padding: 0.5em 0.75em;
  transition: background-color 0.25s;
  width: 100%;

  &:hover {
    background-color: @color-blue;
  }
}
