<div class="vertical-center">
    <div class="horz-center">
        <div class="modal">
            <h2>Unsupported Browser</h2>
            <p>Your web browser does not fully support the Web Audio API or Ogg Vorbis audio streaming which is needed for Supermoon to display. Please try an recent version of Google Chrome.</p>
        </div>
    </div>
</div>