<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Supermoon</title>
    <meta name="description" content="Visualizing live streamed VLF radio data">
    <meta name="author" content="Cory O'Brien">
    <link rel="canonical" href="http://supermoon.prtcl.cc">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <meta property="og:title" content="Supermoon">
    <meta property="og:description" content="Visualizing live streamed VLF radio data">
    <meta property="og:url" content="http://supermoon.prtcl.cc">
    <meta property="og:image" content="http://supermoon.prtcl.cc/static/img/supermoon-screenshot-01.png">

    <link rel='stylesheet' href='/static/build/main.css' />
    <script src="/static/build/client.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47948701-4', 'auto');
      ga('send', 'pageview');
    </script>

</head>
<body>
<div id="app-container" class="container">
    <div id="visualization-container" class="container"></div>
    <div id="vlf-site-select" class="floating-box top-left vlf-site-select">
        <select></select>
    </div>
    <div id="footer" class="footer floating-box bottom-left">
        <p><a href="https://github.com/prtcl/supermoon">Supermoon</a> by <a href="http://prtcl.cc">Cory O'Brien</a> &copy; 2015</p>
    </div>
</div>
</body>
</html>
